body {
    width: 500px;
    height: auto;
    padding: 10px;
    margin: 0 auto;

    color: rgb(44, 43, 43);
}

div{
    width: 500px;
    padding: 10px; 
}

#onderkant {
    width: 500px;
    height: auto;
    padding: 10px; 
    border: 5px solid rgb(75, 14, 243); 
    border-radius: 15px;
    background-color: rgb(119, 109, 228);
    text-align: center;
}

#form {
    width: 500px;
    border-radius: 15px;
}

.border {
    border: 5px solid rgb(75, 14, 243); background-color: rgb(160, 153, 252);
}

.border2 {
    border: 1px solid rgb(243, 14, 174); background-color: rgb(160, 153, 252);
    padding: 10;
}

#gray-background {
    background-color: rgb(202, 195, 195);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    border: 1px solid rgb(243, 14, 174); background-color: rgb(160, 153, 252);
}

.gray-background2 {
    background-color: rgb(160, 153, 252); 
    list-style-type: none;
    text-align: left;
    margin: 150;
    padding: 0;
    border:1px solid rgb(243, 14, 174);
}

.gray-background2 li {
    display: inline-block;
    font-size: 20px;
    padding: 10px; 
    text-align: left;
  }

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10;font-weight: 200;line-height: 2em; text-align: center;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    padding: 20px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px; font-weight: lighter;
    line-height: 20px;
    background-color: #b78cf0;
}  

li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}

a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    font-style: oblique;
}

ol {
    line-height: 100px;
}

/*media queries */

@media (max-width: 600px){
    p { font-size: 5px;}
    body {background-color:fuchsia};
}

@media (min-width: 1024px) {
    body {background-color: rgb(0, 255, 42);}

    h1 {color: rgb(130, 0, 0);
        font-size: smaller;
        line-height: 0,8em;}

    h2 {color: rgb(130, 0, 0);
        font-size: smaller;
        line-height: 0,8em;}

    div{color: rgb(130, 0, 0);
        font-size: smaller;
        line-height: 0,8em;}

    a{color: blue;
        font-size: smaller;}
    
    }