h1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 0.15rem;
  font-size: xx-large;
  text-transform: uppercase;
}

a {
  cursor: pointer;
}

img{
  width: 60px;
  height: 100%;
}

.menu {
  display: inline-block;
}

.menu-block {
  display: none;
  background-color: none;
  position: absolute;
  position: fixed;
  left: 0;
  width: 100px;
  height: auto;
  padding: 0 5px;
}

.menu-content {
  list-style-type: none;
  display: block;
  padding: 10px 0px;
  transition: ease 0.3s;
}

.menu-content li {
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.menu-content li:hover {
   background-color: rgb(172, 164, 164);
}

.visible {
  display: block;
}

.active {
  background: rgb(172, 164, 164);
}

.btn-toggle-nav{
  cursor: pointer;
}

#home {
  background-color: rgb(172, 164, 164);
}

#red{
  background-color: rgb(245, 24, 24);
}

#orange{
  background-color: rgb(224, 154, 62);
}

#purple{
  background-color: rgb(236, 88, 217);
}

#green{
  background-color: rgb(161, 240, 154);
}

